.career{
    .careerBanner {
        
        @media (max-width : 640px) {
            position: relative;
            .bannerItem {
                height: auto;
                padding: 360px 0 0;
                background-size: 100% auto;
                background-repeat: no-repeat;
                background-position: top center;
            }
            
        }
    }
    .bannerItem {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 66px;
        background-image: url("https://it.mobifone.vn/wp-content/uploads/2020/02/1493.jpg");
    }
    .pageBanner {
        .bannerItem {
        height: 240px;
        }
    }
    .bannerItemTitle {
        color:#0e2b5c;
    }
    .careerIntro {
        padding: 42px 0 0;
        text-align: center;
        h2{
            margin: 24px 0 42px;
        }
        .symbol-tuyendung{
            margin-left: 0;
            margin-right: 0;
        }
        .content-intro{
            font-family: Calibri, sans-serif;
            font-size: 18px;
            color: #0e2b5c;
        }
    }
    .careerIntroImage{
        widrh : 100%;
        height: auto;
        margin : 42px 0;
    }

    .careerJob {
        margin-bottom: 72px;
        .sectionTitle{
            text-align: center;
            padding: 32px 0;
            span {
                text-transform: uppercase;
                font-size: 1em;
                opacity: .5;
                font-weight: 600;
                letter-spacing: 1px;
                display: inline-flex;
                align-items: center;
                font-family:  'Roboto Condensed', sans-serif;
                letter-spacing: 4px;
            }
            h2 {
                font-family : 'Roboto',sans-serif;
            }
        }
        .item_Recruiment{
            width: 100%;
            box-shadow: none;
            height: 100%;
            border: 1px solid #E1EEFC;
            border-radius: 0;
            margin-right: -1px;
            margin-bottom: -1px;
            padding: 0;
            color: #0966B6;
            transition: all .3s ease-in-out; 
            background: #fff;
            text-decoration: none !important;
            .boxJobDesc{
                padding: 16px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .boxJobTitle{
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    margin: 0 0 16px;
                    height: 32px;
                    font-size: 24px;
                    font-weight: 700;
                }
                .boxJobMeta {
                    margin: 0;
                    .jobMetaItem {
                        color: initial;
                        padding: 0;
                        background: transparent;
                        display: flex;
                        // align-items: center;
                        margin: 0 ;
                    }
                }
                .symbol-atl{
                    display: inline;
                    margin-top: -4px;
                    margin-right: 5px;
                }
                
                
            }
        &:hover{
            transform: scale(1.01);
            border: 1px solid#007bff;
        }
        }
        .boxJobImg {
            border-radius: 0;
            background-size: 50% auto;
            background-repeat: no-repeat;
            background-color: #fff;
            width: 100%;
            height: 320px;

        }
        
    }

}
.thumbnail {
    background-color: #E1EEFC;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.bannerItem {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-position: center;
}
.jobMetaItem {
    padding: 4px 12px 4px 6px;
    border-radius: 4px;
    background: rgba(9, 102, 182, .1);
    color: #0966B6 !important;
    margin-bottom: 8px;
    max-width: 100%;
}